name: AI Vulnerability Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Run AI Security Scanner
        uses: Srivatsanalluraya/AI-Security-Scanner3.0@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
