name: AI Vulnerability Scan

permissions:
  contents: write
  pull-requests: write         # REQUIRED for PR comments to work

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run AI Scanner
        uses: Srivatsanalluraya/AI-Security-Scanner3.0@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
